PORT=5000

# MongoDB Atlas Database
MONGO_URI=your_mongo_db_uri_here

# Third-party API
THIRD_PARTY_API_URL=https://api.exchangerate-api.com/v4/latest/INR

# Allowed CORS origin
CORS_ORIGIN=https://inventory-frontend.vercel.app
